language: python

python: "2.7"

env:
    - TOXENV=py27
    - TOXENV=py33
    - TOXENV=py34
    - TOXENV=pypy
    - TOXENV=pep8

branches:
    only:
        - master
        - develop

services:
    - mongodb

install: pip install --quiet tox

script: tox
